body {
    margin: 0px;
    width: 100%;
  }
  
  .wrapper {
    margin: 0px auto;
    width: 486px;
  }
  
  .text {
    text-align: center;
    color: #000;
    font-size: 36px;
    font-family: sans-serif;
    transform: translateY(500px);
    transition: all 0.8s ease-in-out;
  }
  
  .links {
      margin:20px;
      margin-top:600px;
  }

  .links a {
    margin:30px;
    margin-top:500px;
}
  
  .animate {
  transform: translateY(0);
  font-size: 70px;
  color: blue;
  }